.technologies-container {
    border-bottom: 1px solid #212121; /* Відповідає класу border-neutral-900 */
    padding: 80px 16px; /* Відповідає класу pd-20 */
  }
  
  .technologies-title {
    margin: 80px 0; /* Відповідає класу my-20 */
    text-align: center;
    font-size: 2.5rem; /* Відповідає класу text-4xl */
  }
  
  .technologies-icons-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 16px; /* Відповідає класу gap-4 */
    margin-bottom: 80px; /* Відповідає класу mb-20 */
  }
  
  .technology-icon-wrapper {
    border-radius: 16px; /* Відповідає класу rounded-2xl */
    border: 4px solid #212121; /* Відповідає класу border-4 border-neutral-800 */
    padding: 16px; /* Відповідає класу p-4 */
  }
  
  .technology-icon {
    font-size: 4.5rem; /* Відповідає класу text-7xl */
  }
  
  .text-cyan-500 {
    color: #06b6d4;
  }
  
  .text-green-500 {
    color: #22c55e;
  }
  
  .text-white {
    color: #ffffff;
  }
  
  .text-sky-700 {
    color: #0369a1;
  }
  